<div class="container login">
  <div class="row">
    <div class="yummly-button login-button">
      <%= link_to "Yum with friends", {
        controller: 'yummly',
        action:     'party'
      } %>
    </div>
  </div>
</div>
